$colortexto1: #525252;

$colorredes1:transparent;

$textsize:1.438rem;

$backposit:center;

$backsize:cover;

$font-style:("estilo1":'Open Sans' , "estilo2":'karla',"estilo3": sans-serif ,"estilo4": arial );

@mixin underlined-text{
    text-align: center;
    font-size: $textsize;
    font-weight: 400px;
    color: $colortexto1;
}
@mixin underline-1{
    background-color: $colortexto1;
    height: 3px;
    width: auto;
    margin: 1em 6em 0 ;
}
@mixin underline-thiner{
    background-color: $colortexto1;
    height: 1px;
    width: auto;
    margin: -.1rem 3rem 1.25rem ;
}
@mixin servicios-fijo{
    background-color: #5252522c;
    height: 9rem;
}
@mixin servicios-movible{
    background-color: #f8f9fa;
    height: 5rem;
}
*{
    margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-family: map-get($font-style,"estilo2");
    list-style: none;
    text-decoration: none
}
.h1s{
    display: none;
}
a{
    text-decoration: none
}
html {
    scroll-behavior: smooth;
}
body{
    background-color: #f8f9fa;
}
.container_index {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .1fr .5fr .7fr .5fr 1.3fr .3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "navbar navbar navbar navbar"
        "baner baner baner baner"
        "nosotros nosotros nosotros nosotros"
        "gallery-preview gallery-preview gallery-preview gallery-preview"
        "visitanos visitanos visitanos visitanos"
        "footer footer footer footer";
    }
    .baner { grid-area: baner; }
    
    .nosotros { grid-area: nosotros; }
    
    .gallery-preview { grid-area: gallery-preview; }
    
    .visitanos { grid-area: visitanos; }
    
    .footer { grid-area: footer; }
/* ---------------------NAVBAR--------------------- */
.navhead{
    grid-area: navbar;
    height: 7rem;
}
.navbar{
    position: fixed;
    width: 100%;
    z-index: 1000;
    border-bottom: 6px solid #52525275;
}
.navbar-collapse{
    justify-content:flex-end;
}

/*---------------------BANER---------------------*/
.baner{
    display: flex;
    margin-top: rem;
    width: 100%;
    height:25rem;
    justify-content: center;
    background-image: url(../img/vidriera-navidad-0-portrait.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
}
.baner--text{
    text-transform: capitalize;
    font-size: 1,5rem;
    font-weight: 400;
    color: $colortexto1;
    background-color: rgba(255, 255, 255, 0.438) ;
    border-radius: .2rem;
    padding: 0.7em;
    margin-top: 6em;
}
/*---------------------WHATSAPP---------------------*/
.whatsapp{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
    
}
.fa-whatsapp{
    margin-top:14px;
}
.whatsapp{
    animation-duration: 2s;
    animation-name: desplazamiento;
}
@keyframes desplazamiento{
    from{ left: 0%;}
    to{left: 93%;}
}
/*---------------------GALLERY_PREVIEW---------------------*/
.GalleryPreview__grid{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows:  0.2fr 1fr ;
    gap: 1rem;
    margin: 0 1rem ;
    grid-template-areas:
        "GalleryPreview__text"
        "carousel" 
}
.GalleryPreview__text{
    grid-area: GalleryPreview__text;
    @include underlined-text;
}
.GalleryPreview__text--underline{
    @include underline-1;
} 
.GalleryPreview__text--underline--thiner{
    @include underline-thiner;
}
.container__carousel{
    grid-area: carousel;
}
/*---------------------NOSOTROS---------------------*/
.nosotros{
    grid-area: nosotros;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    height: 100%;
    padding: 60px 20px 20px 20px; 
}
.nosotros__text{
    @include underlined-text;
}
.nosotros__text--underline{
    @include underline-1;
}
.nosotros__text--underline--thiner{
    @include underline-thiner;
}
.nosotros__text__p{
    overflow: auto;
    text-align:center;
    font-size: 1.5rem;
    color: $colortexto1;
}
/*---------------------VISITANOS---------------------*/
.visitanos{ 
    grid-area: visitanos; 
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr .2fr 1.5fr;
    gap: 0 6px;
    grid-auto-flow: row;
    grid-template-areas: 
    "visitanos__texto"
    "visitanos__redes"
    "visitanos__fisico"
    "visitanos__fisico__mapa"
    ;
}
.visitanos__text{
    grid-area: visitanos__texto;
    @include underlined-text;
}
.visitanos__text--underline{
    @include underline-1;
}
.visitanos__text--underline--thiner{
    @include underline-thiner;
}
.visitanos__redes{
    grid-area: visitanos__redes;
    width: 100%;
    height: auto;
    padding: 0.625rem;
    color: $colortexto1;
}
.visitanos__box__redes__links--adjust--instagram,
.visitanos__box__redes__links--adjust--facebook,
.visitanos__box__redes__links--adjust--pinterest{
    display: flex;
    width: 13.75rem;
    height: 2.5rem;
    font-size: 2.5rem ;
    color:$colortexto1;
    font-weight:bolder;
    margin: 0.625rem 0;
    transition: all .3s;
}
.redes__text--adjust{
    padding-top: 0.375rem;
    font-size: 1.25rem;
    font-weight: 700;
}
.visitanos__box__redes__links--adjust--instagram:hover{
    background-image: linear-gradient(to left, #F58529, #FEDA77, #DD2A7B, #8134AF, #515BD4);   -webkit-background-clip: text;
    color: $colorredes1;
    transform: scale(1.05);
    transition: .4s;
}
.visitanos__box__redes__links--adjust--facebook:hover{
    background-image: linear-gradient(to right,#3b5998,#8b9dc3,#dfe3ee);   -webkit-background-clip: text;
    color: $colorredes1;
    transform: scale(1.05);
    transition: .4s;
}
.visitanos__box__redes__links--adjust--pinterest:hover{
    background-image: linear-gradient(to right,#BD081C,#bd2436,#EFEFEF);   -webkit-background-clip: text;
    color: $colorredes1;
    transform: scale(1.05);
    transition: .4s;
}
.visitanos__fisico{
    grid-area: visitanos__fisico;
    padding: 0.9375rem;
    color: $colortexto1;
    font-size: 0.7375rem;
}
.visitanos__fisico__mapa{
    grid-area: visitanos__fisico__mapa;
    padding: 0.625rem;
    border: 0.625rem solid black;
}
/*---------------------FOOTER---------------------*/
.footer{
    grid-area: footer;
    width: 100%;
    height: 24rem;
    color: #f8f9fa;
    background-color: $colortexto1;
    padding: 0;
}
.footer__text{
    font-family: map-get($font-style,"estilo1");
    text-transform: capitalize;
}
.objetivo{     
    grid-column: 1/2;     
    grid-row: 1/2;  
    padding: 2rem 1rem 1rem;    
    margin-bottom: 1rem;
} 
.objetivo-title{
    font-family: map-get($font-style,"estilo4");
    font-size: 1.2rem;
    border-left: 0.2rem solid #f8f9fa;
    padding-left: .7rem;
    }
.objetivo-text{
    font-family: map-get($font-style,"estilo4");
    font-size: 1rem;
    padding-left:.8rem;
    line-height:1.5rem;
} 
.seguinos{
    grid-column: 1/2; 
    grid-row: 2/3; 
    padding: 1rem 1rem ;
} 
.derechos{
    grid-column: 1/2;
    grid-row: 3/4; 
    background-color: #3d3d3d;
    min-height: 4rem;
    margin-top: 2rem;
} 
.derechos-text{
    padding-top: 1.3rem;
    padding-left: 1.3rem;
}
.red-footer{
    padding: .5rem;
    font-size: 2.5rem;
    font-weight: 700;
    color: #f8f9fa;
}
.seguinos-text{
    font-family: map-get($font-style,"estilo4");
    font-size: 1.2rem;
    border-left: 0.2rem solid #f8f9fa;
    padding-left: .7rem;
} 
.seguinos-redes{
    display: flex;
    padding-left: 1rem; }
/*---------------------GALLERIA.HTML---------------------*/
.baner-gallery{
    display: flex;
    padding-top: 8rem;
    width: 100%;
    height:25rem;
    justify-content: center;
    background-image: url(../img/vidriera-navidad-0-portrait.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
}
.texto--gallery{
    grid-area: texto--gallery;
    padding-top: 7rem;
}
.gallery__text{
    @include underlined-text;
}
.gallery__text--underline{
    @include underline-1;
}
.gallery__text--underline--thiner{
    @include underline-thiner;
}
.grid__container__gallery{
    display: grid;
    gap: .9em;
    margin: 2em 1em;
}
.grid__item__gallery{
    min-height: 10em;
    width: auto;
    transition: .5s;
    border-radius: 0.4rem;
}
.grid__item__gallery:hover{
    @extend .grid__item__gallery;
    transform: scale(1.05);
}
.img1 {
    grid-column: 1 /3 ;
    grid-row: 1 / 2;
    background-image: url(../img/vidriera-naviadad-4-portrait.jpg);
    background-position:$backposit;
    background-size: $backsize;
}
.img2{
    grid-column: 3/4;
    grid-row: 1/3;
    background-image: url(../img/vidriera-navidad-0-landscape.jpg);
    background-size: $backsize;
    background-position:$backposit;
}
.img3{
    grid-column: 1/2;
    grid-row: 2/4;
    background-image: url(../img/vidriera-navidad-0-portrait.jpg);
    background-position: $backposit;
    background-size: $backsize;
}
.img4{
    grid-column: 2/3;
    grid-row: 2/3;
    background-image: url(../img/vidriera-navidad-1-landscape.jpg);
    background-position: $backposit;
    background-size: $backsize;
}
.img5{
    grid-column: 2/4;
    grid-row: 3/4;
    background-image: url(../img/vidriera-navidad-1-portrait.jpg);
    background-position: $backposit;
    background-size: $backsize;
}
.img6{
    grid-column:1/3 ;
    grid-row:4/5 ;
    background-image: url(../img/vidriera-navidad-2-portrait.jpg);
    background-position: $backposit;
    background-size: $backsize;
}
.img7{
    grid-column:3/4 ;
    grid-row:4/5 ;
    background-image: url(../img/vidriera-navidad-3-portrait.jpg);
    background-position: $backposit;
    background-size: $backsize;
}
.img8{
    grid-column:1/2 ;
    grid-row: 5/7 ;
    background-image: url(../img/vidriera-naviadad-4-portrait.jpg);
    background-position: $backposit;
    background-size: $backsize;
}
.img9{
    grid-column:2/4;
    grid-row:5/7;
    background-image: url(../img/vidriera-navidad-0-portrait.jpg);
    background-position: $backposit;
    background-size: $backsize;
}
/*---------------------FORMULARIO---------------------*/
.formulario--grid{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: .1fr 1fr .25fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "navbar"
    "formulario--grid"
    "footer"
}
.container--formulario{
    grid-area: formulario--grid;
    width: 80%;
    padding-top: 8rem;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 10rem;
}
.container--formulario--text{
    font-family: map-get($font-style,"estilo");
}
/*---------------------SERVICIOS---------------------*/
.body-servicios{
    background-color: #f8f9fa;
    width: 100%;
}
.cards-servicios{
    display:grid;
    padding-top: 17rem;
    width: 100%;
    height: 120vh;
}
.grid-servicios{
    grid-row: 1/2;
    grid-column: 1/2;
    color: #525252;
    margin: 1rem;
}
.grid-servicios:hover > .servicios-fijo{
    height: 70vh;
}
.servicios-fijo{
    @include servicios-fijo;
    transition-duration: 1s;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    overflow: hidden;
    height: 370px;
    padding: 10px;
}
.servicios-fijo h2{
    text-align: center;
}
.imagen-vidriera{
    height: 34vh;
    width: 100%;
    background-image: url(../img/vidriera.jpeg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:10px;
}
.parrafo-servicios{
    margin-top:1rem;
}
.servicios-movible{
    @include servicios-movible;
    height: 130px;
    width: 100%;
    background-color: #25d36500;
    background-image: url(../img/onda4.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size:cover; 
    overflow: hidden;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition-duration: 1s;
}
.grid-servicios1{
    grid-row: 1/2;
    grid-column: 2/3;
    color: #525252;
    margin: 1rem;
}

.grid-servicios1:hover > .servicios-fijo1{
    height: 70vh;
}
.servicios-fijo1{
    @include servicios-fijo;
    transition-duration: 1s;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    overflow: hidden;
    height: 370px;
    padding: 10px;
}
.servicios-fijo1 h2{
    text-align: center;
}
.imagen-vidriera1{
    height: 34vh;
    width: 100%;
    background-image: url(../img/vidriera.jpeg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:10px;
}
.parrafo-servicios1{
    margin-top:1rem;
}
.servicios-movible1{
    @include servicios-movible;
    height: 130px;
    background-color: #25d36500;
    background-image: url(../img/onda4.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition-duration: 1s;
}
.grid-servicios2{
    grid-row: 1/2;
    grid-column: 3/4;
    color: #525252;
    margin: 1rem;
}

.grid-servicios2:hover > .servicios-fijo2{
    height: 70vh;
}
.servicios-fijo2{
    @include servicios-fijo;
    transition-duration: 1s;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    overflow: hidden;
    height: 370px;
    padding: 10px;
}
.servicios-fijo2 h2{
    text-align: center;
}
.imagen-vidriera2{
    height: 34vh;
    width: 100%;
    background-image: url(../img/vidriera.jpeg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:10px;
}
.parrafo-servicios2{
    margin-top:1rem;
}
.servicios-movible2{
    @include servicios-movible;
    height: 130px;
    background-color: #25d36500;
    background-image: url(../img/onda4.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition-duration: 1s;
}
/*---------------------MEDIA-DESKTOP---------------------*/
@media only screen and (min-width: 767px){
    .container__index{
        width: 100%;
    }
    .container--formulario{
        width: 80%;
    }
}
@media only screen and (min-width: 920px) {
    .container_index{  
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: .1fr .6fr .45fr .6fr .8fr .25fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "navbar navbar navbar navbar"
            "baner baner baner baner"
            "nosotros nosotros nosotros nosotros"
            "gallery-preview gallery-preview gallery-preview gallery-preview"
            "visitanos visitanos visitanos visitanos"
            "footer footer footer footer";
        } 
        /*---------------------BANER-DESKTOP---------------------*/
        .baner{
            display: flex;
            padding: 60px 0px 60px;
            width: 100%;
            height:23rem;
            justify-content: center;
            background-image: url(../img/vidriera-navidad-1-landscape.jpg);
            background-attachment: fixed;
            background-size: cover;
            background-position: bottom;
            align-content: center;
        }
        .baner--text{
            text-transform: capitalize;
            font-size: 30px;
            font-weight: 400;
            color: $colortexto1;
            background-color: rgba(255, 255, 255, 0.438) ;
            background-blend-mode: lighten;
            padding: 15px 25px;
            margin-top: 80px;
        }
        /*---------------------NOSOTROS-DESKTOP---------------------*/
        .nosotros__text--underline{
            background-color: $colortexto1;
            height: 3px;
            width: auto;
            margin: 5px 450px 0 ;
        }
        .nosotros__text--underline--thiner{
            background-color: $colortexto1;
            height: 1px;
            width: auto;
            margin: -2px 260px 20px ;
        }
        .nosotros__text__p{
            overflow: auto;
            text-align:justify; 
            font-size: 1.4rem;
            color: $colortexto1;
            padding: 0 3rem;
        }
        /*---------------------GALLERY-PREVIEW-DESKTOP---------------------*/
        .GalleryPreview__grid{
            grid-area: gallery-preview;
            grid-template-columns: 1fr  ;
            grid-template-rows:  0.1fr 1fr ;
            margin: 0 1rem ;
            grid-template-areas:
                "GalleryPreview__text "
                "carousel " 
        }
        .GalleryPreview__text{
            grid-area: GalleryPreview__text;
            text-align: center;
            font-size: $textsize;
            font-weight: 400px;
            color: $colortexto1
            ;
        }
        .GalleryPreview__text--underline{
            background-color: $colortexto1;
            height: 3px;
            width: auto;
            margin: 5px 450px 0 ;
        }
        .GalleryPreview__text--underline--thiner{
            background-color: $colortexto1;
            height: 1px;
            width: auto;
            margin: -2px 260px 0 ;
        }
        .container__carousel{
            grid-area: carousel;
            margin: 0 15% ;
        }
        .carousel-inner{
            height: 25rem;
        }
        
        /*---------------------VISITANOS-DESKTOP---------------------*/
        .visitanos{ 
            grid-area: visitanos; 
            margin-top: 50px;
            margin-bottom: 100px;
            height: 30em;
            padding: 0 3rem;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 0.1fr 0.2fr 1fr ;
            gap: 0 6px;
            grid-auto-flow: row;
            grid-template-areas: 
            "visitanos__texto  visitanos__texto  visitanos__texto"
            "visitanos__redes  visitanos__fisico visitanos__fisico"
            "visitanos__redes  visitanos__fisico__mapa visitanos__fisico__mapa"
            ;
        }
        .visitanos__text{
            grid-area: visitanos__texto;
            text-align: center;
            font-size: $textsize;
            font-weight: 400px;
            color: $colortexto1;
        }
        .visitanos__text--underline{
            background-color: $colortexto1;
            height: 3px;
            width: auto;
            margin: 5px 450px 0 ;
        }
        .visitanos__text--underline--thiner{
            background-color: $colortexto1;
            height: 1px;
            width: auto;
            margin: -2px 260px 30px ;
        }
        .visitanos__redes{
            grid-area: visitanos__redes;
            width: 100%;
            height: auto;
            padding: 10px;
            color: $colortexto1;
        }
        /*---------------------FOOTER-DESKTOP---------------------*/
        .footer{
            grid-area: footer;
            display: grid;
            padding: 0;
            height: 18rem;
        }
        .objetivo{
            grid-column: 1/2;
            grid-row: 1/2;
            padding: 3rem 3rem;
        }
        .objetivo-title{
            font-family: map-get($font-style,"estilo4");
            font-size: 1.6rem;
            font-weight:500;
            letter-spacing: -1px;
            border-left: 0.2rem solid white;
            padding-left: .7rem;
        }
        .objetivo-text{
            font-family: map-get($font-style,"estilo2");
            font-size: 1rem;
            font-weight:400;
            padding-left:.8rem;
            line-height:1.3rem;
            letter-spacing: -1px;
        }
        .seguinos{
            grid-column: 2/3;
            grid-row: 1/2;
            padding: 3rem 3rem;
            
        }
        .derechos{
            grid-column: 1/4;
            grid-row: 2/3;
            min-height: 3.5rem;
            background-color: #3d3d3d;
        }
        .derechos-text{
            font-family: map-get($font-style,"estilo4");
            font-size: .8rem;
            padding-left: 3rem;
            padding-top: 1.2rem;
            line-height: 1.1rem;
        }
        .red-footer{
            padding: .5rem;
            font-size: 2.5rem;
            font-weight: 700;
            color: white;
        }
        .seguinos-text{
            font-family: map-get($font-style,"estilo4");
            font-size: 1.7rem;
            border-left: 0.2rem solid white;
            padding-left: .7rem;
        }
        .seguinos-redes{
            display: flex;
            padding-left: 1rem;
        }

        /*---------------------GALERIA-DESKTOP---------------------*/
        .grid__container__gallery{
            margin:2rem 5%;
        }
        /*---------------------FORMULARIO-DESKTOP---------------------*/
        .container--formulario{
            width: 70%;
            height: auto;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: auto;
        }
    }
