* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "karla";
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
}

.container_index {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: .1fr .5fr .7fr .5fr 1.3fr .25fr;
      grid-template-rows: .1fr .5fr .7fr .5fr 1.3fr .25fr;
  gap: 0px 0px;
  grid-auto-flow: row;
      grid-template-areas: "navbar navbar navbar navbar" "baner baner baner baner" "nosotros nosotros nosotros nosotros" "gallery-preview gallery-preview gallery-preview gallery-preview" "visitanos visitanos visitanos visitanos" "footer footer footer footer";
}

.baner {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: baner;
}

.nosotros {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: nosotros;
}

.gallery-preview {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: gallery-preview;
}

.visitanos {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: visitanos;
}

.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
}

/* ---------------------NAVBAR--------------------- */
.navbar {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: navbar;
}

.navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/*---------------------BANER---------------------*/
.baner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  width: 100%;
  height: 25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../img/vidriera-navidad-0-portrait.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
}

.baner--text {
  text-transform: capitalize;
  font-size: 1,5rem;
  font-weight: 400;
  color: #525252;
  background-color: rgba(255, 255, 255, 0.438);
  border-radius: .2rem;
  padding: 0.7em;
  margin-top: 6em;
}

/*---------------------WHATSAPP---------------------*/
.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
}

.fa-whatsapp {
  margin-top: 13px;
}

.whatsapp {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: desplazamiento;
          animation-name: desplazamiento;
}

@-webkit-keyframes desplazamiento {
  from {
    left: 0%;
  }
  to {
    left: 93%;
  }
}

@keyframes desplazamiento {
  from {
    left: 0%;
  }
  to {
    left: 93%;
  }
}

/*---------------------GALLERY_PREVIEW---------------------*/
.GalleryPreview__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 0.2fr 1fr;
      grid-template-rows: 0.2fr 1fr;
  gap: 1rem;
  margin: 0 1rem;
      grid-template-areas: "GalleryPreview__text" "carousel";
}

.GalleryPreview__text {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: GalleryPreview__text;
}

.container__carousel {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: carousel;
}

/*---------------------NOSOTROS---------------------*/
.nosotros {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: nosotros;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  height: 100%;
  padding: 60px 20px 20px 20px;
}

.nosotros__text, .GalleryPreview__text, .visitanos__text, .gallery__text {
  text-align: center;
  font-size: 1.438rem;
  font-weight: 400px;
  color: #525252;
}

.nosotros__text--underline, .GalleryPreview__text--underline, .visitanos__text--underline, .gallery__text--underline {
  background-color: #525252;
  height: 3px;
  width: auto;
  margin: 1em 6em 0;
}

.nosotros__text--underline--thiner, .GalleryPreview__text--underline--thiner, .visitanos__text--underline--thiner, .gallery__text--underline--thiner {
  background-color: #525252;
  height: 1px;
  width: auto;
  margin: -.1rem 3rem 1.25rem;
}

.nosotros__text__p {
  overflow: auto;
  text-align: center;
  font-size: 1.5rem;
  color: #525252;
}

/*---------------------VISITANOS---------------------*/
.visitanos {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: visitanos;
  margin-top: 50px;
  margin-bottom: 100px;
  padding: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 0.1fr 1fr .2fr 1.5fr;
      grid-template-rows: 0.1fr 1fr .2fr 1.5fr;
  gap: 0 6px;
  grid-auto-flow: row;
      grid-template-areas: "visitanos__texto" "visitanos__redes" "visitanos__fisico" "visitanos__fisico__mapa";
}

.visitanos__text {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: visitanos__texto;
}

.visitanos__redes {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: visitanos__redes;
  width: 100%;
  height: auto;
  padding: 0.625rem;
  color: #525252;
}

.visitanos__box__redes__links--adjust--instagram,
.visitanos__box__redes__links--adjust--facebook,
.visitanos__box__redes__links--adjust--pinterest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 13.75rem;
  height: 2.5rem;
  font-size: 2.5rem;
  color: #525252;
  font-weight: bolder;
  margin: 0.625rem 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.redes__text--adjust {
  padding-top: 0.375rem;
  font-size: 1.25rem;
  font-weight: 700;
}

.visitanos__box__redes__links--adjust--instagram:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(#F58529), color-stop(#FEDA77), color-stop(#DD2A7B), color-stop(#8134AF), to(#515BD4));
  background-image: linear-gradient(to left, #F58529, #FEDA77, #DD2A7B, #8134AF, #515BD4);
  -webkit-background-clip: text;
  color: transparent;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: .4s;
  transition: .4s;
}

.visitanos__box__redes__links--adjust--facebook:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#3b5998), color-stop(#8b9dc3), to(#dfe3ee));
  background-image: linear-gradient(to right, #3b5998, #8b9dc3, #dfe3ee);
  -webkit-background-clip: text;
  color: transparent;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: .4s;
  transition: .4s;
}

.visitanos__box__redes__links--adjust--pinterest:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#BD081C), color-stop(#bd2436), to(#EFEFEF));
  background-image: linear-gradient(to right, #BD081C, #bd2436, #EFEFEF);
  -webkit-background-clip: text;
  color: transparent;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: .4s;
  transition: .4s;
}

.visitanos__fisico {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: visitanos__fisico;
  padding: 0.9375rem;
  color: #525252;
  font-size: 0.7375rem;
}

.visitanos__fisico__mapa {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: visitanos__fisico__mapa;
  padding: 0.625rem;
  border: 0.625rem solid black;
}

/*---------------------FOOTER---------------------*/
.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  padding: 10px 20px;
  width: 100%;
  height: 10rem;
  color: white;
  background-color: #525252;
}

.footer__text {
  font-family: arial;
  text-transform: capitalize;
}

/*---------------------GALLERIA.HTML---------------------*/
.texto--gallery {
  grid-area: texto--gallery;
  padding-top: 7rem;
}

.grid__container__gallery {
  grid-area: grid__container__gallery;
  display: -ms-grid;
  display: grid;
  gap: .9em;
  margin: 2em 1em;
}

.grid__item__gallery {
  min-height: 10em;
  width: auto;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 0.4rem;
}

.grid__item__gallery:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: .5s;
  transition: .5s;
}

.img1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 /3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  background-image: url(../img/vidriera-naviadad-4-portrait.jpg);
  background-position: center;
  background-size: cover;
}

.img2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  background-image: url(../img/vidriera-navidad-0-landscape.jpg);
  background-size: cover;
  background-position: center;
}

.img3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  background-image: url(../img/vidriera-navidad-0-portrait.jpg);
  background-position: center;
  background-size: cover;
}

.img4 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  background-image: url(../img/vidriera-navidad-1-landscape.jpg);
  background-position: center;
  background-size: cover;
}

.img5 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  background-image: url(../img/vidriera-navidad-1-portrait.jpg);
  background-position: center;
  background-size: cover;
}

.img6 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  background-image: url(../img/vidriera-navidad-2-portrait.jpg);
  background-position: center;
  background-size: cover;
}

.img7 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  background-image: url(../img/vidriera-navidad-3-portrait.jpg);
  background-position: center;
  background-size: cover;
}

.img8 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  grid-row: 5/7;
  background-image: url(../img/vidriera-naviadad-4-portrait.jpg);
  background-position: center;
  background-size: cover;
}

.img9 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  grid-row: 5/7;
  background-image: url(../img/vidriera-navidad-0-portrait.jpg);
  background-position: center;
  background-size: cover;
}

/*---------------------FORMULARIO---------------------*/
.formulario--grid {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: .1fr 1fr .25fr;
      grid-template-rows: .1fr 1fr .25fr;
  gap: 0px 0px;
  grid-auto-flow: row;
      grid-template-areas: "navbar" "formulario--grid" "footer";
}

.container--formulario {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: formulario--grid;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 10r;
}

.container--formilario--text {
  font-family: sans-serif;
}

/*---------------------MEDIA-DESKTOP---------------------*/
@media only screen and (min-width: 767px) {
  .container_index {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: .1fr .6fr .45fr .6fr .8fr .25fr;
        grid-template-rows: .1fr .6fr .45fr .6fr .8fr .25fr;
    gap: 0px 0px;
    grid-auto-flow: row;
        grid-template-areas: "navbar navbar navbar navbar" "baner baner baner baner" "nosotros nosotros nosotros nosotros" "gallery-preview gallery-preview gallery-preview gallery-preview" "visitanos visitanos visitanos visitanos" "footer footer footer footer";
  }
  /*---------------------BANER-DESKTOP---------------------*/
  .baner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 60px 0px 60px;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-image: url(../img/vidriera-navidad-1-landscape.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .baner--text {
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 400;
    color: #525252;
    background-color: rgba(255, 255, 255, 0.438);
    background-blend-mode: lighten;
    padding: 15px 25px;
    margin-top: 80px;
  }
  /*---------------------NOSOTROS-DESKTOP---------------------*/
  .nosotros__text--underline, .GalleryPreview__text--underline, .visitanos__text--underline, .gallery__text--underline {
    background-color: #525252;
    height: 3px;
    width: auto;
    margin: 5px 450px 0;
  }
  .nosotros__text--underline--thiner, .GalleryPreview__text--underline--thiner, .visitanos__text--underline--thiner, .gallery__text--underline--thiner {
    background-color: #525252;
    height: 1px;
    width: auto;
    margin: -2px 260px 20px;
  }
  .nosotros__text__p {
    overflow: auto;
    text-align: center;
    font-size: 1.4rem;
    color: #525252;
  }
  /*---------------------GALLERY-PREVIEW-DESKTOP---------------------*/
  .GalleryPreview__grid {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: gallery-preview;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 0.1fr 1fr;
        grid-template-rows: 0.1fr 1fr;
    margin: 0 1rem;
        grid-template-areas: "GalleryPreview__text " "carousel ";
  }
  .GalleryPreview__text {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: GalleryPreview__text;
    text-align: center;
    font-size: 1.438rem;
    font-weight: 400px;
    color: #525252;
  }
  .GalleryPreview__text--underline {
    background-color: #525252;
    height: 3px;
    width: auto;
    margin: 5px 450px 0;
  }
  .GalleryPreview__text--underline--thiner {
    background-color: #525252;
    height: 1px;
    width: auto;
    margin: -2px 260px 0;
  }
  .container__carousel {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: carousel;
    margin: 0 15%;
  }
  .carousel-inner {
    height: 25rem;
  }
  /*---------------------VISITANOS-DESKTOP---------------------*/
  .visitanos {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: visitanos;
    margin-top: 50px;
    margin-bottom: 100px;
    height: 30em;
    padding: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 0.1fr 0.2fr 1fr;
        grid-template-rows: 0.1fr 0.2fr 1fr;
    gap: 0 6px;
    grid-auto-flow: row;
        grid-template-areas: "visitanos__texto  visitanos__texto  visitanos__texto" "visitanos__redes  visitanos__fisico visitanos__fisico" "visitanos__redes  visitanos__fisico__mapa visitanos__fisico__mapa";
  }
  .visitanos__text {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: visitanos__texto;
    text-align: center;
    font-size: 1.438rem;
    font-weight: 400px;
    color: #525252;
  }
  .visitanos__text--underline {
    background-color: #525252;
    height: 3px;
    width: auto;
    margin: 5px 450px 0;
  }
  .visitanos__text--underline--thiner {
    background-color: #525252;
    height: 1px;
    width: auto;
    margin: -2px 260px 30px;
  }
  .visitanos__redes {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: visitanos__redes;
    width: 100%;
    height: auto;
    padding: 10px;
    color: #525252;
  }
  /*---------------------GALERIA-DESKTOP---------------------*/
  .grid__container__gallery {
    margin: 2rem 5%;
  }
  /*---------------------FORMULARIO-DESKTOP---------------------*/
  .container--formulario {
    width: 45%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7vh;
    margin-bottom: auto;
  }
}
/*# sourceMappingURL=estilos.css.map */